# Database
DB_HOST=task_postgres
DB_PORT=5432
DB_NAME=task_db
DB_USERNAME=postgres
DB_PASSWORD=secret

# App
APP_PORT=8081
SECRET_KEY=a3f5c9d2e7b48f1a9c6d3e4f5a2b1c0d9e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4
TOKEN_EXP=900000
REFRESH_EXP=604800000

DOCKERHUB_USERNAME=thanhknghien